PORT=443
SSL_KEY= path to key.pem 
SSL_CERT= path to cert.pem

EMAIL_USER= email here
EMAIL_PASS= app password here
PHASE= development
FRONTEND_URL = ...


DB_HOST=localhost
DB_USER=...
DB_PASSWORD=...
DB_NAME=...